/**************div coloring for development**************/


/*
#adverseEventDiv {
    background-color: blue;
}

#resultSection {
    background-color: brown;
}

#drugSearchResultDiv {
    background-color: aqua;
}

#drugTable {
    max-width: 80%;
    background: red;
}

header{
     background: yellow;
}


footer {
    background: yellow;
}
*/


/**************header**************/

header {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 80%;
}

.navbar {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

#loginLabelsDiv {
    position: relative;
    margin: 8px;
}

.btn-group {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}


/**************search result**************/

.resultTable {
    border-style: solid;
    border-width: 1px;
}

.resultTable th {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: center;
}

.resultTable td {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

#adverseEventDiv {
    background: rgba(220, 255, 150, 1);
    border-style: outset;
    display: -webkit-flex;
    justify-content: flex-end;
    position: fixed;
    max-height: 80%;
    max-width: 80%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 70px;
    bottom: 0px;
}

#adverseEventTable {
    background: rgba(0, 255, 0, 0.5);
    margin-top: 30px;
}

#closeButton {
    position: fixed;
}

#drugTable {
    min-width: 80%;
    max-width: 80%;
}

#drugSearchResultDiv {
    display: -webkit-flex;
    justify-content: center;
    margin-bottom: 40px;
    min-width: 80%;
    max-width: 80%;
}

#resultSection {
    display: -webkit-flex;
    justify-content: center;
}

#searchInput {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    width: 80%;
    margin-top: 200px;
    text-align: center;
}

footer {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 80%;
}
